/*
 *	SITE-WIDE STYLES
 */

html, body {
  display: block;
  padding: 0;
  margin: 0;
}

html {
  background-color: #F8F8F8;
}

.green-brand { /* Logo "online" color */
  color:#4BDD4B;
}

.user-info {
  float:right;
}

.user-info ul {
  margin-bottom: 20px;
}

.user-info ul li {
  list-style: none;
  text-align: right;
}

body {
  background-color: #eee;
  padding-top: 80px;
}

.glyphicon-inbox{
  color:#FF9640;
}
.glyphicon-minus{
  color:#FF4040;
}
.glyphicon-plus{
  color:#38DF64;
}

footer {
	margin-top: 40px;
	border-top: 1px solid #E7E7E7;
	padding-top: 20px;
	background: #eee;
	min-height: 80px;
  background-color: #F8F8F8;
  margin-bottom: 0;
}

footer p {
  text-align: center;
}

.center-text {
  text-align: center;
}

.thin-text {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

  /* Clearfix */
.cf:after, .cf:after {
  content: "";
  display: table;
  clear: both;
}

/*.pagination {
	display: block;
	margin: 0 auto 0 auto;
	width:238px;
}*/

/*
 * SITE-WIDE MEDIA QUERIES
 */

@media screen and (max-width: 768px) {
  .hide-mobile {
    display: none;
  }
  .user-info {
    float: left;
  }
  .user-info ul {
    padding-left: 0;
    margin-left: 0;

  }
  .user-info ul li {
    text-align: left;
    padding-left: 0;
    margin-left: 0;
  }
}

/*
 * START PAGE
 */

.start-page-header {
  text-align: center;
}
.start-page-container {
  min-height: 60vh;
}

/*
 * CONTACT PAGE
 */

.contact-page-container {
  min-height: 60vh;
}

.contact-page-container h1 {
  margin-bottom: 40px;
}

/*
 *  ADD PROGRAM
 */

.add-program-container {
  min-height: 60vh;
}

/*
 *  ADD USER & EDIT COURSE
 */

.add-user-form, .edit-course-form {
  clear: both;
}
.add-user-form .form-group, .edit-course-form .form-group {
  margin-bottom: 5px;
}

.add-user-row, .edit-course-row {
  padding-bottom: 20px;
  border-bottom: 1px solid #999;
}

.save-button-row {
  margin-top: 20px;
}

.edit-course-form .datepicker {
  width: 50%;
  float: left;
  padding-left: 12px;
}

.edit-course-form .datepicker:first-of-type {
  margin-bottom: 5px;
  margin-right: 5px;
  width: calc(50% - 5px);
}

.edit-course-form .attendants-heading {
  margin-bottom: 20px;
}

.float-label {
  display: block;
}

.attendant-table .list td {
  vertical-align: middle;
}
.attendant-table .list td.attendant-checkbox {
  text-align: center;
}
.attendant-table .list select {
  width: 80px;
}

.removed-attendants {
  display: none;
}

/*
 *	MANAGE USERS & MANAGE COURSES
 */

.table-controls {
	margin-bottom:20px;
}

.add-entry-controls button {
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.filter-controls {
	margin-top: 5px;
}

.filter-controls .form-group {
	margin-bottom: 10px;
}

.user-table {
	margin-bottom: 40px;
}

/*
 * LOGIN PAGE
 */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#confirm-page{
  margin: 0 auto;
  /*border:1px solid white;*/
}
#confirm-page h2{
  /*font-size:50px;*/
  color: #00BF32;
}

/*
 * BOOKING PAGES
 */

.top-filters {
  margin-bottom: 20px;
}

.seat-filter-control {
  width: 60px;
  margin-right: 10px;
}

.projector-select {
  width: 200px;
  margin-right: 10px;
}

.inactive-filter-list-item {
  color:#CCC;
}

.book-form select {
  max-width: 513px;
}

.datepicker{
width: 250px;
}

.form-inline .form-control {
  width: auto;
  display: block;
}

.form-inline .form-group.button {
  padding-top: 35px;
}

/* Empty rooms TIMELINE */

/* BOOKING FORM */

#classroom, #timeperiod {
  width: 200px;
  margin-bottom: 10px;
}

#startdate, #enddate {
  width: 91px;
  margin: 0;
  margin-bottom: 10px;
}

[type=submit] {
  margin: 0;
  margin-bottom: 10px;
}

#error {
  color: red;
}

#success {
  color: green;
}



/* COURSE INFO / DELETE FORM */

#courseinfo {
  margin-top: 30px;
}

#courseinfo h3:first-child {
  margin-top: 0;
}

#courseinfo p {
  margin-bottom: 20px;
}

#courseinfo .booking_classroom {
  font-weight: bold;
  margin-top: 20px;
}

#courseinfo .booking_date {
  margin-left: 10px;
  margin-top: 8px;
  font-size: 11px;
}

#courseinfo .delete {
  color: red;
  margin-left: 20px;
  cursor: pointer;
}



/* BOOKING CALENDAR (MISC) */

#calendar {

}

#dialog {
  display: none;
}

#dialog [type=button] {
  width: 71px;
  height: 20px;
  margin: 0;
  padding: 0;
  font-size: 11px;
}

#legend {
  font-size: 11px;
  margin-bottom: 30px;
}

#legend .booked_fm, #legend .booked_em {
  display: inline-block;
  height: 3px;
  width: 14px;
  margin-right: 5px;
  margin-bottom: 2px;
}

#legend .booked_fm {
  background: #EB6565;
  margin-top: 5px;
}

#legend .booked_em {
  background: #F79859;
  margin-top: 15px;
  margin-left: 15px;
}

#legend .booking_start, #legend .booking_end {
  display: inline-block;
  margin-right: 5px;
  margin-left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
}

#legend .booking_start {
  background: #B0DDF5;
}

#legend .booking_end {
  background: #B7E8B3;
}



/* BOOKING CALENDAR */

#calendar .month-container {
  margin-bottom: 30px;
}

#calendar .month {
  font-size: 12px;
  font-weight: bold;
  clear: both;
}

#calendar .enddate {
  float: right;
  font-size: 11px;
}

#calendar .day {
  width: 20px;
  height: 25px;
  float: left;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 2px;
  margin-bottom: 2px;
  font-size: 10px;
  text-align: center;
  cursor: pointer;
}

#calendar .day.full {
  background: #F34444;
}

#calendar .day.empty {
  background: #90FF90;
}

#calendar .day.empty {
  background: #90FF90;
}

#calendar .day.not-empty-not-full {
  background: #EDFF90;
}

#calendar .day div {
  position: absolute;
  height: 3px;
  width: 14px;
  margin-right: 1px;
  display: none;
}

#calendar .booked_fm div:nth-child(1) {
  background: #EB6565;
  margin-top: -20px;
  display: block;
}

#calendar .booked_em div:nth-child(2) {
  background: #F79859;
  margin-top: -10px;
  display: block;
}

#calendar .booked_em, #calendar .booked_fm {
  color:red; /* temp solution. delete this when other method works */
}

#calendar .day span {
  width: 14px;
  height: 14px;
  border-radius: 7px;
}

#calendar .selected span {
  display: block;
  font-weight: bold;
}

#calendar .booking_start span {
  display: block;
  background: #B0DDF5;
}

#calendar .booking_end span {
  display: block;
  background: #B7E8B3;
}

#calendar .load-months {
  color: #000;
  text-decoration: underline;
}
